!!!
%ul.lists     
 %li.list.list--black1 group1
 %li.list.list--black2 group2
 %li.list.list--black3 group3
 %li.list.list--black4 group4
 %li.list.list--black5 group5
 %li.list.list--black6 group6
 .contents1
    