!!!


    
%ul.lists
  %li.list.list--black1 main1
  %li.list.list--black2 main2
  %li.list.list--black3 main3
  %li.list.list--black4 main4
  %li.list.list--black5 main5
  %li.list.list--black6 main6
  

.maincontents
.rightcontents
