

.header {
  position: fixed;
  width: 100%;
  z-index: 1;
  
}

p {
  background-color: #38AEF0;
  color:#fafafa;
  float: left;
  font-size: 20px;
  font-weight: bold;
  height: 30px;
  line-height: 30px;
  list-style: none;
  text-align: center;
  width: 33%;
}
